@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "variables.css";
@import "reset.css";

/*  Components */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

body {
    color: #2e363e;
    height: 1000vh;
    font-family: 'Open Sans', sans-serif;
}

.main-screen {
    padding : 0px var(--horizontal-space);
}

.status-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.status-bar__column {
    width: 33%;
}
.status-bar__column:first-child span {
    margin-right: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-three-quarters {
    margin: 0px 5px;
}
